/* Default (light mode / brand base) */
body {
  background: #ffffff;   /* brand white background */
  color: #000000;
}

/* Dark mode override */
@media (prefers-color-scheme: dark) {
    body {
        background: #171615;
        color: #e0e0e0;
    }
}

.news-banner img {
    height: 670px; /* set a fixed height */
    object-fit: cover; /* crop instead of squish */
    width: 100%; /* keep full width */
}

.news-item h1 h2 h3 {
    font-family: 'Minecraft Ten v2';
    margin-bottom: 10px;
}

.minecraft-box {
    background-color: #fefefe;
    border: 4px solid #555;
    padding: 12px 20px;
    font-size: 1.2rem;
    color: #222;
    box-shadow: 0 0 0 4px #aaa, 0 0 0 8px #333;
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    border-radius: 4px;
}