/* Default (light mode / brand base) */
body {
  background: #ffffff;   /* brand white background */
  color: #000000;
}

/* Dark mode override */
@media (prefers-color-scheme: dark) {
    body {
        background: #171615;
        color: #e0e0e0;
    }
}

.news-banner img {
    height: 670px; /* set a fixed height */
    object-fit: cover; /* crop instead of squish */
    width: 100%; /* keep full width */
}

.news-item h1 h2 h3 {
    font-family: 'Minecraft Ten v2';
    margin-bottom: 10px;
}